<?xml version="1.0" encoding="utf-8"?>
<!-- 
     This file specifies the dependencies to use Azure code signing via SignTool.
     https://learn.microsoft.com/en-us/azure/trusted-signing/how-to-signing-integrations
     https://www.nuget.org/packages/Microsoft.Windows.SDK.BuildTools/
     https://www.nuget.org/packages/Microsoft.Trusted.Signing.Client
-->
<packages>
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.26100.7175" />
  <package id="Microsoft.Trusted.Signing.Client" version="1.0.95" />
</packages>
